<po-breadcrumb [p-items]="[
    { label: 'Back', link: '../' },
    { label: 'Add Collaborator', link: '' },
  ]">
</po-breadcrumb>
<form [formGroup]="formUser" (ngSubmit)='onSubmit()' >
    <po-input class="po-lg-4" p-label="Colab. Name" formControlName="name"></po-input>
    <po-input class="po-lg-4" p-label="E-mail" formControlName="email"></po-input>
    <po-password class="po-lg-4" p-label="Password" formControlName="pass"></po-password>
    <po-input class="po-lg-4" p-label="Nick Name" formControlName="nick"></po-input>

    <po-select class="po-lg-4" p-label="Acess Level"
        formControlName="role"
        [p-options]="[{label:'Usuário Comum',value:'normal'},{label:'Adminstrador',value:'admin'}]">
    </po-select>
    <div class="po-lg-12">
        <po-button p-label="Salvar" p-type="primary" [p-disabled]="!formUser.valid" (p-click)='onSubmit()'></po-button>
    </div>
</form>