<po-breadcrumb [p-items]="[
{ label: 'Back', link: '../tasks' },
{ label: 'Edit Task', link: '' },
  ]">
</po-breadcrumb>
<form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
    <po-input class="po-md-6" p-label="Titulo" p-auto-focus="true" p-minlength="20" formControlName="title" p-required>
    </po-input>
    <po-datepicker [formControl]="formEdit.controls['date']" class="po-md-3" name="minDate" p-clean
        p-label="Data para entrega" [p-min-date]="date" [p-max-date]="dateLimit">
    </po-datepicker>
    <po-select class="po-md-3" p-required p-label="Horario de Entrega" [p-options]="timeList" formControlName="hora">
    </po-select>
    <po-select class="po-md-2" p-required p-label="Grau Importância" [p-options]="urgentList" formControlName="level">
    </po-select>
    <po-textarea p-minlength="30" p-required class="po-lg-10" name="Descrição" p-label="Descrição"
        formControlName="description">
    </po-textarea>
    <div class="po-lg-9">* todos os itens são necessarios</div>
    <div class="po-lg-3">
        <po-button class="po-mr-5" p-label="Desfazer" p-type="default" (p-click)='formEdit.reset()'></po-button>
        <po-button p-label="Salvar" p-type="primary" [p-disabled]="!formEdit.valid" (p-click)='onSubmit()'>
        </po-button>
    </div>

</form>