<div class="po-lg-4">
  <span class="po-font-subtitle">{{nome}}</span>
  <po-list-view p-property-title="titulo" [p-items]="lista">
    <ng-template p-list-view-content-template let-item>
      <div class="po-row sizeItem">
        <span class="po-font-text-large">{{item.descricao}}</span>
        <div class="po-row">{{item.nome}}</div>
        <div class="po-row lador">
          <po-button *ngFor="let i of labels_buttons" p-label={{i.Label}} (click)="pass(item.titulo, i.NovoEstado)"></po-button>
        </div>
      </div>
    </ng-template>
  </po-list-view>
</div>