<div class="po-lg-4">
  <span class="po-font-subtitle">{{nome}}</span>
  <po-list-view p-property-title="title" [p-items]="lista">
    <ng-template p-list-view-content-template let-item let-ie="index">
      <po-modal #modal [p-title]=item.title>
        <div class="guardModal">
          <h3>{{item.description}}</h3>
          <h4><b>Data de Entrega: </b>{{item.dateRelease | date}}</h4>
        </div>
      </po-modal>
      <div class="po-row">

        <div class="span" (click)="modal.open()">
          <po-tag [p-color]="'color-0'+item.level" class="po-font-title float" [p-value]="resolveStatus(item.level)"></po-tag>
          <div class="po-font-text-large" *ngIf="!(item.idUser == 0)">Pessoa: {{item.idUser}}</div>
          <div class="po-font-text-large">Data Pego: {{item.trackDate | date}}</div>
          <div class="po-row lador">
            Ver mais +
          </div>
        </div>

        <div class="po-row">{{item.name}}</div>
        <div class="po-row lador">
          <po-button *ngFor="let i of labels_buttons" p-label={{i.Label}} (click)="pass(ie, i.NovoEstado)">
          </po-button>
        </div>
      </div>
    </ng-template>
  </po-list-view>
</div>